/* цвет основного текста #212121 */
/* вторичный цвет #757575; */
/*  белый #FFFFFF */
/* акцент #2196F3; */
/* вторичный цвет фона #2F303A; */
/* цвет лого #000000; */










:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}


body {
        background-color: var(--primary-bg-color);
    color: #757575;

    font-family: Roboto, sans-serif;
}




ul {
    list-style: none;
}


.list {
    list-style: none;
}



/* Logo */

.logo-title {
    color: var(--accent-color);
}
.logo {
    color: var(--title-text-color);
    font-family: Raleway, cursive;

    
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */

letter-spacing: 0.03em;
}



/* Site nav */
.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
 color: #2196F3;
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Hero */
.hero-title{
    color:var(--title-text-color);
}

/* Section*/
.section-title {
    color:var(--title-text-color);
}





/* Features */
.feature-list .title {
    color:var(--title-text-color);
}
    
.feature-list .link {
    color: var(--accent-color);
}




    /* Examples */

    .work-list .title {
        color: var(--title-text-color);
    }

    /* Button */

    .button {
        color: var(--title-text-color);
        background-color: var(--primary-white-color);
    }

    .button.primary {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }

    .button.secondary {
        color: var(--accent-color);
        background-color: var(--primary-white-color);
    }