/* цвет основного текста #212121 */
/* вторичный цвет #757575; */
/*  белый #FFFFFF */
/* акцент #2196F3; */
/* вторичный цвет фона #2F303A; */
/* цвет лого #000000; */










:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
}


body {
        background-color: var(--primary-bg-color);
    color: #757575;

    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;

}

/*eset styles*/

.link {
	text-decoration: none;
}

.list {
	list-style-type: none;
}



/* Logo */

.logo-title {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    
   
}
.logo {
    color: var(--title-text-color);
    font-family: Raleway, ;

    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    
    letter-spacing: 0.03em;
}



/* Site nav */
.site-nav .link {
    color: var(--title-text-color);
font-family: Roboto, sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.17;

}

.site-nav .link:hover,
.site-nav .link:focus {
 color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;

}

/* Hero */
.hero-title{
    color:var(--title-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Section*/
.section-title {
    color:var(--title-text-color);
   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
   
}




/* Features */
.feature-list .title {
    color:var(--title-text-color);
}
    
.feature-list .link {
    color: var(--accent-color);
}




    /* Examples */

    .work-list .title {
        color: var(--title-text-color);
    }

    /* Button */

    .button {
        color: var(--title-text-color);
        background-color: var(--primary-white-color);
    }

    .button.primary {
        color: var(--primary-white-color);
        background-color: var(--accent-color);
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        align-items: center;
        text-align: center;
       
    }

    .button.secondary {
        color: var(--accent-color);
        background-color: var(--primary-white-color);
    }

   .title {
    color: var(--title-text-color);
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
   }