/* цвет основного текста #212121 */
/* вторичный цвет #757575; */
/*  белый #FFFFFF */
/* акцент #2196F3; */
/* вторичный цвет фона #2F303A; */
/* цвет лого #000000; */










:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #ffffff;
}


body {
        background-color: var(--primary-bg-color);
    color: #757575;
}


.list {
    list-style: none;
}




.logo-title {
    color: var(--accent-color);
}
.logo {
    color: var(--title-text-color);
}

/* Hero */
.hero-title{
    color: #212121;
}

/* Section*/
.section-title {
    color: #212121;
}

/* Features */
.feature-list .title {
    color: #212121 ;

    
    /* Examples */

    .work-list .title {
        color: var(--title-text-color) ;
    }

    /* Button */

    .button {
        color: var(--title-text-color);
        background-color: var(--primary-bg-color);
    }

    .button.primary {
        background-color: var(--primary-text-color);
        color: var(--title-text-color);

    }